# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GeometricAlgebraFulcrumLib.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Active\GeometricAlgebraFulcrumLib\.idea\.idea.GeometricAlgebraFulcrumLib\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
